[openstack-rdo]
name=OpenStack RDO Repository
baseurl=http://mirror.centos.org/centos/{{ ansible_distribution_major_version }}/cloud/x86_64/openstack-{{ openstack_version }}/
enabled=1
skip_if_unavailable=0
gpgcheck=1
